@charset "UTF-8";
body {
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
}
h3 {
    margin: 0;
}
.main {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
}
a {
    text-decoration: none;
    color: gray;
}
.main_header {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav_logo i {
    font-size: 50px;
    margin-left: 20px;
    color: rgb(6, 120, 185);
    position: relative;
    animation: logomove 5s ease infinite;
}
@keyframes logomove {
    0%{left: 0px; top: 0px; color: rgb(214, 12, 214);}
    25%{left: 0px; top: 0px; color: rgb(55, 28, 207);}
    50%{left: 0px; top: 0px; color: rgb(26, 12, 212);}
    75%{left: 0px; top: 0px; color: rgb(2, 82, 6);}
    100%{left: 0px; top: 0px; color: rgb(95, 105, 1);}
}
.nav_logo a {
    font-size: 30px;
    color: black;
}
.nav_logo a:hover {
    color: black;
    font-size: 32px;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-right: 20px;
}
.nav_menu {
    display: flex;
    list-style-type: none;
}
.nav_menu>ul>li {
    margin-right: 10px;
}
.nav_menu li:hover {
    background-color: rgb(162, 233, 233);
    font-size: 15px;
    border-radius: 7px;
}
.nav_icons i {
    padding: 8px 12px;
    margin-right: 20px;
    color: rgb(143, 139, 167);
    font-size: 35px;
}
.nav_icons i:hover {
    color: rgb(196, 243, 243);
    font-size: 40px;
}
nav {
    float: left;
    width: 28%;
    height: 870px;
    line-height: 600px;
    border: 1px dotted gray;
    margin-bottom: 15px;
}
aside {
    float: right;
    width: 28%;
    height: 870px;
    line-height: 600px;
    border: 1px dotted gray;
}
footer {
    clear: both;
    width: 100%;
    height: 100px;
    line-height: 100px;
    border: 1px dotted grey;
}
/* 슬라이드 */
.slideshow {
    min-width: 100%;
    height: 465px;
    margin-bottom: 10px;
    background-color: rgba(205, 209, 145,);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
   
}
.slideshow_slides {
    position: absolute;
    width: 100%;
    height: 100%;
}
.slideshow_img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.slideshow_slides a {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
}
.slideshow_nav>a {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 30px;
    transform: translateY(-50%);
    opacity: 0.5;
}
.slideshow_nav a.prev {
    margin-left: -45%;
}
.slideshow_nav a.next {
    margin-left: 40%;
}
.indicator {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 5px;
}
.indicator a {
    font-size: 15px;
    color: white;
    opacity: 0.5;
    padding: 5px;
    display: inline-block;
}
.indicator a.active {
    color: black;
    font-weight: 900;
}
/* 애니메이션 */
@keyframes bounce {
    from, to {
        bottom: -20%;
        animation-timing-function: ease-out;
    }
    50% {
        bottom: 0%;
        animation-timing-function: ease-in;
    }
}
#ani1, #ani2, #ani3, #ani4, #ani5 {
    position: absolute;
    width: 20px;
    height: 5px;
    border-radius: 10px;
    animation-name: bounce;
    animation-iteration-count: infinite;
    opacity: 0.5;
    margin-left: 10%;
    z-index: 1;
}
#ani1 {
    left: 10px;
    background-color: red;
    animation-duration: 5s;
}
#ani2 {
    left: 50px;
    background-color: rgb(80, 221, 92);
    animation-duration: 10s;
}
#ani3 {
    left: 90px;
    background-color: rgb(238, 255, 0);
    animation-duration: 3s;
}
#ani4 {
    left: 10px;
    background-color: rgb(31, 9, 235);
    animation-duration: 8s;
}
#ani5 {
    left: 170px;
    background-color: rgb(228, 170, 229);
    animation-duration: 1s;
}
/* 회원가입 */
.membership {
    float: left;
    width: 40%;
    height: 900px;
    margin-left: 1.7%;
    padding-top: 20px;
}
.infomationid {
    margin-top: 50px;
}
tr, th {
    width: 100%;
    display: inline-block;
    color: gray;
    text-align: start;
}
input {
    width: 98%;
    height: 25px;
    font-size: 13px;
    margin-bottom: 15px;
    opacity: 0.5;
}
input.placeholder {
    text-align: end;
}
select.infomationtext {
    width: 32.5%;
    height: 30px;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 15px;
}
.infomationgender {
    width: 100%;
    height: 30px;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 15px;
}
.emailcheck {
    font-size: 13px;
}
select.country {
    width: 100%;
    height: 30px;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 15px;
}
.infomation_phone {
    width: 100%;
    height: 30px;
    text-align: center;
    margin-bottom: 15px;
    visibility: initial;
}
.infomation_phonebutton {
    width: 35%;
    height: 30px;
    color: wheat;
    border: 1px solid rgb(4, 173, 4);
    background-color: rgb(4, 173, 4);
    border-radius: 5px;
    display: inline-block;
}
.tdcheck {
    font-size: 10px;
    color: red;
    opacity: 0.7;
}
.registerbutton {
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 30px;
    border: 1px solid rgb(4, 173, 4);
    background-color: rgb(4, 173, 4);
    border-radius: 5px;
}